@import "../styles/main";

.footerContainer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $teal-muted;
  color: white;
  @include flexbox();
  @include flex-direction(column);

  .contentContainer {
    @include flexbox();
    @include flex-direction(row);

    .footerLogo {
      margin-top: 3%;
      margin-left: 5%;
    }

    .navLinksContainer {
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(flex-end);
      width: 100%;
      margin-top: 3%;
      h6 {
        font-family: Montserrat;
        color: $teal-highlight;
        @include fluid-type(9px, 12px);
        margin-bottom: 20px;
      }
      .navLinksColumn {
        padding-right: 5%;
        padding-left: 5%;
        p {
          @include fluid-type(10px, 14px);
          font-family: Helvetica;
          color: $pine-green;
          line-height: 230%;
        }
      }
      .socialLinksColumn {
        padding-right: 15%;
        padding-bottom: 5%;
        .socialLinkImageContainer {
          @include flexbox();
          @include flex-direction(row);
          @include flex-wrap(wrap);
          @include justify-content(space-between);
          min-width: 75px;
        }
      }
    }
  }
  .line {
    width: 90%;
    height: 1px;
    opacity: 0.3;
    border: solid 1px #6c6c6c;
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .copyright {
    font-family: "Open Sans", sans-serif;
    color: $brownish-grey-50;
    @include fluid-type(8px, 12px);
    text-align: center;
    padding-bottom: 1%;
  }
}
