@import "main";

.landingPageContainer {
  @include flexbox();
  @include flex-direction(column);
  font-weight: 100;
  text-align: left;
  width: 100%;
  color: $pine-green;

  .contentContainer {
    .header {
      background-image: url("../public/img/hair-cat-header.png");
      position: relative;
      @include flexbox();
      @include flex-direction(column);
      background-size: contain;
      padding-bottom: 53.125%;
      height: 0;

      .headerContent {
        width: 65%;
        padding-left: 7%;

        .headerLogo {
          margin-top: 5%;
          margin-bottom: 15%;
          background-image: url("../public/img/manual-symblol.png");
          background-size: contain;
          width: 2.95vw;
          height: 2.8vw;
        }

        h1 {
          font-family: "Montserrat";
          font-weight: 700;
          @include fluid-type(12px, 65px);
          padding-bottom: 2%;
        }

        .headerText {
          @include fluid-type(6px, 16px);
          width: 80%;
          padding-top: 2%;
          padding-bottom: 4%;
        }

        button {
          background-color: $teal-highlight;
          color: $white;
          border-radius: 4em;
          width: 40%;
          letter-spacing: 2px;
          padding: 2% 5%;
          border: none;
          font-family: "Montserrat";
          @include fluid-type(6px, 12px);
          margin-bottom: 10%;
        }
      }
    }

    .content {
      h3 {
        font-family: Helvetica, sans-serif;
        @include fluid-type(10px, 36px);
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      .itemWithImgOnLeft {
        @include flexbox();
        @include flex-direction(row);
        @include align-content(center);
        @include justify-content(center);
        border: 2px solid red;

        .imagesContainer {
          display: grid;
          position: relative;
          grid-template-columns: repeat(12, 1fr);
          border: 2px solid blue;
          align-items: center;

          .imageContainer {
            grid-column: 1 / span 7;
            grid-row: 1;
            z-index: 1;
          }
          .numberContainer {
            grid-column: 6 / 12;
            grid-row: 1;
            font-family: Montserrat;
            color: #eeeeee;
            @include fluid-type(180px, 360px);
          }
        }
      }
      .itemWithImgOnRight {
      }
    }
  }
}

.footerContainer {
}
